@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.bgI {
	background-image: url("./assets/BG.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.bgI2 {
	background-image: url("./assets/BG2.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.0156;
	z-index: -1;
}

.shadow1 {
	box-shadow: 0px 32px 54px 0px rgba(22, 28, 45, 0.16);
}
